@mixin flexbox() {
    display:flex;
    // justify-content: space-between;
    align-items: center;
}
.header{
    background-image: url('img/background.png');
    height: 85rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    &-nav{
        @include flexbox();
        justify-content:space-between;
        padding-top:3.5rem;
        &__img{
            width:17rem;
            height:4rem;
        }
        &__list{
            margin:0;
            padding:0;
            @include flexbox();
        }
        &__item{
            margin-left: 5rem;
            list-style: none;
        }
        &__link{
            text-decoration:none;
            color:#eaedf4;
            font-size: 1.6rem;
            font-weight:800;
        }
    }
    &-content{
        color:#f9fafe;
        display:flex;
        flex-direction:column;
        align-items: center;
        padding-top:22rem;
        // background-color: red;
        // margin:300px aut;
        &__title{
            font-size:7.2rem;
            // display
            margin:0;
            margin-bottom: 3rem;
            line-height: 5.5rem;
            letter-spacing: 1rem;
        }
        &__desc{
            font-size:3rem;
            line-height: 2.5rem;
            font-weight: 30rem;
            margin-bottom: 9rem;
        }
        &__search{
            display:flex;
        }
        &__input{
            width: 57.5rem;
            height: 65px;
            // box;
            // overflow: hidden;
            border:none;
            outline:none;
            font-size: 1.4rem;
            padding-left: 30px;
        }
        &__link{
            text-decoration: none;
            font-size: 1.4rem;
            color:#ffffff;
            display:flex;
            align-items: center;
            border-radius: 0 0.5rem 0.5rem 0;
        }
        &__link img{
            margin-right: 1rem;
        }
        
        
    }
}
.infor{
    &-row{
        margin-bottom: 3.5rem;
        transform: translateY(-50%);
        @include flexbox();
        justify-content: space-between;
        background-color:#ffffff;
        height: 14rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        &__list{
            height:8rem;
            flex:1;
            @include flexbox();
            justify-content:center;
            flex-direction:column;
            border-right: 1px solid #d4d4d4;
        }
        &__list:last-child{
            border:none
        }
        &__num{
            color:#343434;
            font-size: 3rem;
            margin-bottom: 1.5rem;
        }
        &__desc{
            font-size:1.8rem;
            color:#717171;
        }
    }
}
.app-container{
    &__heading{
        text-align:center;
        display:flex;
        flex-direction:column;
    }
    &__title{
        font-size: 3rem;
        color:#343435;
        padding-bottom: 3rem;
    }
    &__desc{
        font-size:1.6rem;
        color:#717171;
        margin-bottom:70px;
    }
    &__product{
        height: 36rem;
        position: relative;
        background-repeat: no-repeat;
        background-size:cover;
    }
    &__view{
        display:flex;
        justify-content:center;
        align-items:center;
        position: absolute;
        top: 3rem;
        left:3rem;
        width:8.5rem;
        // display: flex;
        // width: 
        border-radius: 5px;
        padding:12px 13px 14px 13px;
        color:white;
        font-size:1.6rem;
        border: none;
        & span{
            font-weight: 600;
        }
        & img{
            margin-right: 1rem;
        }
    }
    &__infor{
        display:flex;
        flex-direction:column;
        // justify-content:space-between;
        position: absolute;
        bottom: 3rem;
        left:3rem;
        color:white;
        // text-align:start;
    }
    &__name{
        font-size:3rem;
        margin-bottom: 2rem;
    }
    &__from{
        font-size:2rem;
    }
    &__bottom{
        margin-top: 10rem;
        margin-bottom:8.8rem;
        text-align:center;
    }
    &__btn{
        text-decoration: none;
        color:#343434;
        font-size:1.4rem;
        border: 1px solid #bdbdbd;
        font-weight: 700;
    }
    
}
.banner{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width:100%;
    height: 60rem;
    background-image: url('img/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom:10rem;
    &__title{
        font-size:7.2rem;
        color:#f9fafe;
        font-weight:700;
        margin-bottom:5rem
    }
    &__desc{
        font-size:3rem;
        color:#e4e6e9;
        font-weight:400;
        margin-bottom:9.5rem

    }
    &__btn{
        text-decoration: none;
        font-size:1.4rem;
        color:white;
        font-weight:400;
    }
}
.footer{
    background-color: #404040;
    height: 100%;
    
    &__line{
        background-image: url('img/line.png');
        width:100%;
        height: 6px;
    }
    &__product{
        padding-top:65px;
        padding-bottom:75px;
    }
    &__name{
        font-size: 1.4rem;
        color:#ffffff;
        font-weight: 600;
        padding-bottom:15px;
        display: block;
    }
    &__list{
        list-style: none;
        padding-left:0;
    }
    &__link{
        text-decoration: none;
        color:#ffffff;
        font-size:1.4rem;
        margin-bottom: 15px;
        display: block;
    }
    &__search{
        display:flex;
        margin-top: 5px;
        padding-bottom: 3.5rem;
    }
    &__input{
        width: 27rem;
        height: 4.2rem;
        border: none;
        outline: none;
        font-size: 1.4rem;
        padding-left: 2.2rem;
        color:#979797;
        border-radius:5px 0 0 5px;
    }
    &__btn{      
        text-decoration: none;
        font-size: 1.4rem;
        color: #ffffff;
        display: flex;
        align-items: center;
        border-radius: 0 0.5rem 0.5rem 0;
        padding: 12px 35px;
    }
    &__icon img{
        margin-right: 2rem;
    }
}
